*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: '1942';
    src: url(../fonts/1942.ttf);
}

body{
    background-image: url(../images/backgroundmobile.png);
    color: white;

}

img{
    width: 100%;
    padding-top: 10px;
}

header{
    border: 1px whitesmoke solid;
    box-shadow: 2px 5px 5px red;
    background-color: rgba(255, 255, 255, 0.137);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1%;
}

h1{
    font-family: '1942';
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

main{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}

section{
    border: 1px whitesmoke solid;
    box-shadow: 2px 5px 5px red;
    background-color: rgba(255, 255, 255, 0.137);
    width: 80%;
    padding: 0.5%;
    margin: 1%;
    text-align: center;
}

h2{
    font-family: 'Courier New', Courier;
    font-size: 20px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

ul, p{
    font-family: 'Courier New', Courier;
    list-style: none;
    padding-top: 10px;
}

footer{
    display: none;
}

@media screen and (max-width: 425px){
    header{
        width: 45%;
    }
    
    main{
        flex-direction: column;
        align-items: center;
    }

    section{
        margin-top: 5%;
    }

    footer{
        display: block;
    }
}