*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: '1942';
    src: url(../fonts/1942.ttf);
}

body{
    background-image: url(../images/background.jpg);
    color: white;

}

img{
    width: 100%;
}

header{
    border: 1px whitesmoke solid;
    box-shadow: 10px 5px 5px red;
    background-color: rgba(255, 255, 255, 0.137);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1%;
}

main{
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
}

section{
    border: 1px whitesmoke solid;
    box-shadow: 10px 5px 5px red;
    background-color: rgba(255, 255, 255, 0.137);
    width: 90%;
    padding: 0.5%;
    margin: 1%;
    text-align: center;
}

#titre{
    font-family: '1942';
}

h2{
    font-family: 'Courier New', Courier;
    margin-bottom: 1%;
}

ul, p{
    font-family: 'Courier New', Courier;
    list-style: none;
}

@media all and (max-device-width: 425px){
    main{
        flex-direction: column;
    }
}
